
*{
    margin: 0;
    border: 0;
    padding: 0;
}
body{
 background-color: aliceblue;   
}



p{
   font-family: arial;
   font-size: 16px;
   color: #042c6b;
   padding: 20px;
   text-align: justify; 
}

h1{
    font-family: arial;
    font-size: 24px;
    color: #042c6b;
    padding: 20px;
}
h2{
    font-family: arial;
    font-size: 22px;
    color: #042c6b;
    padding: 20px;
}
header{
    background-color: #042c6b;
    color: #fff;
    font-family: arial;
    padding: 12px;
    text-align: center;
}
footer{
    background-color: #042c6b;
    color: #fff;
    font-family: arial;
    font-size: 14px;
    padding: 12px;
    text-align: center;
}
figure{
    text-align: center;
}
.imagem-conteudo{
    border-radius: 20px;
}
@media(min-width: 320px) and (max-width: 450px){
    .imagem-conteudo{
        border-radius: 20px;
        width: 80%;
    }
}
#imagem-topo{
    text-align: center;
}
#nome-usuario{
    text-align: center;
    font-family: arial;
    font-size: 18px;
    color: #fff;
}
#nome_rodape{
    text-align: right;
    font-family: helvetica;
    font-size: 16px;
    color: #fff;
}